@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #090a0f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cfdbe8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfdbe8;
  box-shadow: inset 0 0 5px #090a0f;
}

::-webkit-scrollbar-track-piece {
  background: #1b2735;
}

* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: #1D3557 #090a0f;
  scroll-behavior: smooth;
}
html body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(ellipse at bottom, #1b2735 50%, #090a0f 100%);
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}
html body header {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
}
html body header .menucontainer {
  transform: translateX(-10px);
  transition: all 0.3s linear;
  background-color: rgba(27, 39, 53, 0.9);
  height: 3.3vw;
  position: absolute;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
html body header .menucontainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 3vw;
}
html body header .menucontainer ul .sourceCodeMobile {
  display: none;
}
html body header .menucontainer ul a {
  position: relative;
  display: block;
  font-size: 1.1vw;
  color: #cfdbe8;
  text-decoration: none;
  margin-top: -0.2vh;
}
html body header .menucontainer ul a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 0.4vh;
  background: #cfdbe8;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
html body header .menucontainer ul a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
html body header .sourceCode {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
}
html body header .sourceCode a {
  color: #1D3557;
  text-decoration: none;
}
html body header .sourceCode a:hover {
  cursor: pointer;
}
html body header .sourceCode a img {
  width: 60px;
}
html body main {
  height: 100vh;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
html body main .night {
  position: absolute;
  width: 250%;
  height: 250%;
  left: -25%;
  top: 10%;
  transform: rotateZ(45deg);
  opacity: 0.8;
  overflow: hidden;
}
html body main .night .shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(105, 155, 255));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
html body main .night .shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
html body main .night .shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
html body main .night .shooting_star:nth-child(1) {
  top: calc(100% - 133vh);
  left: calc(0% + 80vw);
  animation-delay: 6723ms;
  opacity: 0.78;
}
html body main .night .shooting_star:nth-child(1)::before, html body main .night .shooting_star:nth-child(1)::after {
  animation-delay: 6723ms;
}
html body main .night .shooting_star:nth-child(2) {
  top: calc(100% - 200vh);
  left: calc(0% + 65vw);
  animation-delay: 7940ms;
  opacity: 0.81;
}
html body main .night .shooting_star:nth-child(2)::before, html body main .night .shooting_star:nth-child(2)::after {
  animation-delay: 7940ms;
}
html body main .night .shooting_star:nth-child(3) {
  top: calc(100% - 48vh);
  left: calc(0% + 5vw);
  animation-delay: 7649ms;
  opacity: 0.74;
}
html body main .night .shooting_star:nth-child(3)::before, html body main .night .shooting_star:nth-child(3)::after {
  animation-delay: 7649ms;
}
html body main .night .shooting_star:nth-child(4) {
  top: calc(100% - 226vh);
  left: calc(0% + 61vw);
  animation-delay: 9056ms;
  opacity: 0.73;
}
html body main .night .shooting_star:nth-child(4)::before, html body main .night .shooting_star:nth-child(4)::after {
  animation-delay: 9056ms;
}
html body main .night .shooting_star:nth-child(5) {
  top: calc(100% - 140vh);
  left: calc(0% + 71vw);
  animation-delay: 1686ms;
  opacity: 0.75;
}
html body main .night .shooting_star:nth-child(5)::before, html body main .night .shooting_star:nth-child(5)::after {
  animation-delay: 1686ms;
}
html body main .night .shooting_star:nth-child(6) {
  top: calc(100% - 184vh);
  left: calc(0% + 25vw);
  animation-delay: 1361ms;
  opacity: 0.72;
}
html body main .night .shooting_star:nth-child(6)::before, html body main .night .shooting_star:nth-child(6)::after {
  animation-delay: 1361ms;
}
html body main .night .shooting_star:nth-child(7) {
  top: calc(100% - 13vh);
  left: calc(0% + 57vw);
  animation-delay: 9194ms;
  opacity: 0.76;
}
html body main .night .shooting_star:nth-child(7)::before, html body main .night .shooting_star:nth-child(7)::after {
  animation-delay: 9194ms;
}
html body main .night .shooting_star:nth-child(8) {
  top: calc(100% - 212vh);
  left: calc(0% + 2vw);
  animation-delay: 3485ms;
  opacity: 0.98;
}
html body main .night .shooting_star:nth-child(8)::before, html body main .night .shooting_star:nth-child(8)::after {
  animation-delay: 3485ms;
}
html body main .night .shooting_star:nth-child(9) {
  top: calc(100% - 34vh);
  left: calc(0% + 58vw);
  animation-delay: 2935ms;
  opacity: 0.85;
}
html body main .night .shooting_star:nth-child(9)::before, html body main .night .shooting_star:nth-child(9)::after {
  animation-delay: 2935ms;
}
html body main .night .shooting_star:nth-child(10) {
  top: calc(100% - 219vh);
  left: calc(0% + 69vw);
  animation-delay: 9864ms;
  opacity: 0.76;
}
html body main .night .shooting_star:nth-child(10)::before, html body main .night .shooting_star:nth-child(10)::after {
  animation-delay: 9864ms;
}
html body main .night .shooting_star:nth-child(11) {
  top: calc(100% - 33vh);
  left: calc(0% + 46vw);
  animation-delay: 4235ms;
  opacity: 0.66;
}
html body main .night .shooting_star:nth-child(11)::before, html body main .night .shooting_star:nth-child(11)::after {
  animation-delay: 4235ms;
}
html body main .night .shooting_star:nth-child(12) {
  top: calc(100% - 233vh);
  left: calc(0% + 39vw);
  animation-delay: 8187ms;
  opacity: 0.65;
}
html body main .night .shooting_star:nth-child(12)::before, html body main .night .shooting_star:nth-child(12)::after {
  animation-delay: 8187ms;
}
html body main .night .shooting_star:nth-child(13) {
  top: calc(100% - 179vh);
  left: calc(0% + 30vw);
  animation-delay: 6699ms;
  opacity: 0.54;
}
html body main .night .shooting_star:nth-child(13)::before, html body main .night .shooting_star:nth-child(13)::after {
  animation-delay: 6699ms;
}
html body main .night .shooting_star:nth-child(14) {
  top: calc(100% - 79vh);
  left: calc(0% + 22vw);
  animation-delay: 1203ms;
  opacity: 0.59;
}
html body main .night .shooting_star:nth-child(14)::before, html body main .night .shooting_star:nth-child(14)::after {
  animation-delay: 1203ms;
}
html body main .night .shooting_star:nth-child(15) {
  top: calc(100% - 154vh);
  left: calc(0% + 30vw);
  animation-delay: 4572ms;
  opacity: 0.97;
}
html body main .night .shooting_star:nth-child(15)::before, html body main .night .shooting_star:nth-child(15)::after {
  animation-delay: 4572ms;
}
html body main .night .shooting_star:nth-child(16) {
  top: calc(100% - 52vh);
  left: calc(0% + 70vw);
  animation-delay: 1494ms;
  opacity: 0.53;
}
html body main .night .shooting_star:nth-child(16)::before, html body main .night .shooting_star:nth-child(16)::after {
  animation-delay: 1494ms;
}
html body main .night .shooting_star:nth-child(17) {
  top: calc(100% - 23vh);
  left: calc(0% + 17vw);
  animation-delay: 6689ms;
  opacity: 0.51;
}
html body main .night .shooting_star:nth-child(17)::before, html body main .night .shooting_star:nth-child(17)::after {
  animation-delay: 6689ms;
}
html body main .night .shooting_star:nth-child(18) {
  top: calc(100% - 77vh);
  left: calc(0% + 17vw);
  animation-delay: 3174ms;
  opacity: 0.83;
}
html body main .night .shooting_star:nth-child(18)::before, html body main .night .shooting_star:nth-child(18)::after {
  animation-delay: 3174ms;
}
html body main .night .shooting_star:nth-child(19) {
  top: calc(100% - 214vh);
  left: calc(0% + 47vw);
  animation-delay: 1341ms;
  opacity: 0.54;
}
html body main .night .shooting_star:nth-child(19)::before, html body main .night .shooting_star:nth-child(19)::after {
  animation-delay: 1341ms;
}
html body main .night .shooting_star:nth-child(20) {
  top: calc(100% - 71vh);
  left: calc(0% + 29vw);
  animation-delay: 10261ms;
  opacity: 0.89;
}
html body main .night .shooting_star:nth-child(20)::before, html body main .night .shooting_star:nth-child(20)::after {
  animation-delay: 10261ms;
}
html body main .name {
  margin-top: 32vh;
  display: grid;
}
html body main .name h1 {
  color: #cfdbe8;
  font-size: 5vw;
  margin-left: 3vw;
  font-weight: bold;
  letter-spacing: 1vw;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0;
  z-index: 1;
  animation-name: nameAppear, nameOpacity;
  animation-timing-function: ease;
  animation-duration: 0.7s;
}
html body main .name h2 {
  color: #5C80BC;
  font-size: 2.5vw;
  margin-left: 3vw;
  margin-top: auto;
  z-index: 1;
  animation-name: nameAppear, nameOpacity;
  animation-timing-function: ease;
  animation-duration: 0.8s;
}
html body main .languages {
  margin-left: 30px;
  margin-top: -5px;
  display: flex;
  align-items: center;
}
html body main .languages img {
  opacity: 0.8;
  margin-left: 15px;
  width: 55px;
  height: auto;
  z-index: 1;
  position: relative;
  animation: nameAppear 0.9s ease, imageOpacity 0.9s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
html body main .languages img:hover {
  transform: scale(1.1);
  opacity: 1;
}
html body main .languages #imgRounded {
  border-radius: 5px;
}
html body main .languages #learning {
  opacity: 0.3;
  animation: nameAppear 0.9s ease, imageLearningOpacity 0.9s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
html body main .languages #learning:hover ~ #learningText {
  opacity: 0.7;
  transition: opacity 0.2s;
}
html body main .languages #learningText {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  margin-left: 15px;
  padding: 0;
  background-color: #090a0f;
  color: #1b2735;
  border-radius: 5px;
  font-size: 15px;
  z-index: 1;
  height: 25px;
  width: 150px;
}
html body main .languages #learningText p {
  margin: 0;
}
html body main .arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../img/arrowDown.svg);
  background-size: contain;
}
html body main .bounce {
  animation: bounce 2s infinite;
}
html body #kontakt {
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}
html body #kontakt .kontakt_box {
  width: 95vw;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body #kontakt .kontakt_box h3 {
  color: #cfdbe8;
  font-size: 2vw;
  margin-top: 2vh;
  margin-bottom: 0;
}
html body #kontakt .kontakt_box p {
  color: #5C80BC;
  margin: 0;
  padding-top: 20px;
}
html body #kontakt .kontakt_box a {
  text-decoration: none;
  background-color: transparent;
  color: #cfdbe8;
}
html body #kontakt .kontakt_box a:hover {
  text-decoration: underline;
}
html body #kontakt .kontakt_box form {
  margin-top: 1.5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25vw;
  color: #1b2735;
  overflow: hidden;
  align-items: center;
  z-index: 1;
  position: relative;
}
html body #kontakt .kontakt_box form button {
  height: 4vh;
  border-radius: 5px;
  border: 0;
  background-color: #1b2735;
  color: #cfdbe8;
  font-size: 0.9vw;
  width: 100%;
  margin-bottom: 3vw;
}
html body #kontakt .kontakt_box form button:hover {
  cursor: pointer;
  background-color: #121b24;
}
html body #kontakt .kontakt_box form div {
  display: flex;
  justify-content: center;
  width: 100%;
}
html body #kontakt .kontakt_box form div input {
  height: 3.5vh;
}
html body #kontakt .kontakt_box form div textarea {
  height: 15vh;
  padding-top: 0.9vh;
}
html body #kontakt .kontakt_box form div input, html body #kontakt .kontakt_box form div textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #1b2735;
  color: #cfdbe8;
  font-size: 0.8vw;
}
html body #kontakt .kontakt_box form div textarea:focus, html body #kontakt .kontakt_box form div input:focus {
  outline: none;
}
html body #projekty {
  width: 100%;
  padding-bottom: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
html body #projekty .projekty_box {
  width: 85vw;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
}
html body #projekty .projekty_box div {
  width: 25%;
  text-align: center;
  height: auto;
  margin-bottom: 20px;
}
html body #projekty img {
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
  border: #1D3557 1px solid;
}
html body #projekty img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
html body #projekty p {
  color: #cfdbe8;
  font-size: 2vw;
  font-weight: bold;
  margin: 1vw;
}
html body .game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}
html body .game .lista {
  width: 300px;
}
html body .game .lista h1 {
  text-align: center;
}
html body .game .lista .input {
  display: flex;
  padding-bottom: 40px;
}
html body .game .lista .input #inputList {
  width: 90%;
}
html body .game .lista .input #add {
  width: 10%;
  font-size: 20px;
}
html body .game .lista .container {
  width: 300px;
  display: flex;
  flex-direction: column;
}
html body .game .lista .container .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
html body .game .lista .container .content .check {
  width: 35px;
  height: 35px;
  margin: 0;
}
html body .game .lista .container .content .textvalue {
  width: 90%;
  margin: 0;
  padding-top: 6px;
  padding-left: 6px;
}
html body .game .lista .container .content .trash {
  width: 30px;
  height: 30px;
  margin-top: 2px;
}
html body .game .lista .container .content .trash:hover {
  cursor: pointer;
}
html body .game .lista .container .content .check:hover {
  cursor: pointer;
}
html body .wrapper {
  width: 65vmin;
  height: 70vmin;
  background-color: #090a0f;
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
html body .wyniki {
  color: #1b2735;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
html body .gra {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(20, 1fr)/repeat(20, 1fr);
  background-color: #1D3557;
}
html body .gra .food {
  background-color: #5C80BC;
}
html body .gra .player {
  background-color: #090a0f;
}
html body .weatherContainer {
  display: flex;
  justify-content: center;
}
html body .weatherContainer .weather .autocomplete-items div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
html body .weatherContainer .weather .autocomplete-active {
  background-color: rgba(0, 0, 0, 0.2);
}
html body .weatherContainer input {
  width: 200px;
}

@media screen and (max-width: 1200px) {
  body header {
    margin-top: 0 !important;
  }
  body header .menucontainer {
    width: 100vw !important;
    border-radius: 0 !important;
    height: 9vw !important;
    padding: 0 !important;
  }
  body header .menucontainer ul {
    gap: 10vw !important;
  }
  body header .menucontainer ul .sourceCodeMobile {
    display: flex !important;
    align-items: center;
    position: absolute;
    right: 2vw;
    margin-top: 0.5vw;
  }
  body header .menucontainer ul .sourceCodeMobile a {
    color: #1D3557;
    text-decoration: none;
  }
  body header .menucontainer ul .sourceCodeMobile a:hover {
    cursor: pointer;
  }
  body header .menucontainer ul .sourceCodeMobile a img {
    width: 6vw;
  }
  body header .menucontainer ul a {
    font-size: 3vw !important;
  }
  body header .sourceCode {
    display: none !important;
  }
  body main .name h1 {
    font-size: 10vw !important;
  }
  body main .name h2 {
    font-size: 5vw !important;
  }
  body #kontakt .kontakt_box {
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-bottom: 0.5vw !important;
  }
  body #kontakt h3 {
    font-size: 5vw !important;
  }
  body #kontakt p {
    font-size: 3vw !important;
  }
  body #kontakt form {
    width: 90vw !important;
  }
  body #kontakt form button {
    height: 6.3vw !important;
    margin-bottom: 2.5vw !important;
  }
  body #kontakt form div input {
    height: 4.5vw !important;
    margin-bottom: 1.5vw !important;
  }
  body #kontakt form div textarea {
    height: 13.5vw !important;
    margin-bottom: 1.5vw !important;
  }
  body #kontakt form button, body #kontakt form input, body #kontakt form textarea {
    font-size: 2vw !important;
  }
  body #projekty .projekty_box {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    padding-bottom: 4vw !important;
  }
  body #projekty .projekty_box div {
    text-align: center !important;
    width: 100% !important;
  }
  body #projekty .projekty_box div img {
    width: 100% !important;
  }
  body #projekty .projekty_box div p {
    font-size: 5vw !important;
    margin: 2vw 0 !important; /* Adds space above and below text */
  }
}
@keyframes topOnload {
  0% {
    width: 22%;
  }
  100% {
    width: 100%;
  }
}
@keyframes middleOnload {
  0% {
    width: 22%;
  }
  100% {
    width: 75%;
  }
}
@keyframes nameAppear {
  0% {
    transform: translateY(-50px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  100% {
    transform: translateY(0);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@keyframes imageOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes nameOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageLearningOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}/*# sourceMappingURL=style.css.map */